@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

body {
    color:white;
    background:#282828;
}

a {
    color:white;
}

table {
    padding-left:44.5%;
}

table * {
    text-align:left;
}

th {
    padding-right:35px;
}

.noMargin {
    margin:0;
}

.banner {
    background:black;
    width:100%;
    height:100px;
}

.banner * {
    float:left;
    font-family:'Comfortaa',Helvetica;
}

.banner img {
    width:80px;
    margin:10px;
}

.banner h1 {
    margin-top:32px;
    margin-bottom:32px;
}

.banner input {
    float:right;
    margin-top:32px;
    margin-bottom:27px;
    margin-right:10px;
    width:40%;
    height:39px;
    text-align:right;
    background:#282828;
    color:white;
    border:0;
    padding-right:0.5%;
}

.mainContent {
    font-family:Helvetica;
    margin-left:1%;
    margin-right:1%;
}

.intro {
    text-align:center;
}

.intro * {
    font-family:'Comfortaa',Helvetica;
    margin-bottom:0.15%;
}

#searchResults a {
    text-decoration:none;
}

.result {
    background:black;
    overflow:auto;
    min-height:75px;
    margin-top:10px;
    padding-top:0.5%;
    padding-left:1%;
    padding-right:2%;
    padding-bottom:0;
}

.result .leftSide {
    float:left;
    width:80%;
}

.result .leftSide .icon {
    float:right;
    height:100%;
    width:5%;
    margin-top:-3.5%;
}

.result .rightSide {
    float:right;
    width:15%;
    text-align:right;
}

.result .rightSide button {
    break-after:always;
    width:100%;
    background:#282828;
    color:white;
    text-align:center;
    border:0;
    min-height:30px;
    margin-bottom:2.5px;
}

.result .rightSide .halfButton {
    width:49%;
    break-after:avoid;
    float:left;
}

.result .rightSide button:hover {
    background:#424040;
}

.result h2, .result h3 {
    margin:0;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
  
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
  